body{
	background-color: #000000;
}

.container{
	width: 75rem;
	height: 37rem;
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(1.jpg);
	border-radius: 1rem;
	background-size: cover;
    background-position:top;
	margin: 20px auto;	
}
	
#calculator{
	width: 20rem;
	height: 32.5rem;
	background-color: white;
	margin: 0 auto;
	position: relative;
	top: 2rem;
	border-radius: 0.5rem;
	box-shadow: 0 4px 20px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#result{
	height: 7rem;
    background-color: #ffffff;
	border-radius: 0.5rem;
    color: #000000;
}

#history{
	text-align: right;
	height: 1.25rem;
	margin: 0 1.25rem;
	padding-top: 1.25rem;
	font-size: 1.25rem;
	color: #000000;
}

#output{
	text-align: right;
	height: 3.75rem;
	margin: -1rem 1.5rem;
	font-size: 2.5rem;
    color: #000000;
}

#keyboard{
	height: 500px;
}

.operator, .number, .empty{
	width: 5rem;
	height: 5.1rem;
	float: left;
	font-weight: bold;
	font-size: 0.938rem;
	border-radius: 50%;
	border-width: 0;
}

.number, .empty{
	background-color: #ffffff;
}
#clear{
    background-color: #ffffff;
}

.number, .operator{
	cursor: pointer;
}
.operator:active, .number:active{
	font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}
